<!DOCTYPE html>
<html>
<head>
  <title>Usuarios</title>
</head>
<body>

<h2>Listado de usuarios</h2>

<table border="1" cellpadding="8">
  <tr>
    <th>Email</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Teléfono</th>
    <th>Edad</th>
    <th>Acciones</th>
  </tr>
 
  {% for u in usuarios %}
  <tr>
    <td>{{ u.email }}</td>
    <td>{{ u.nombre }}</td>
    <td>{{ u.apellidos }}</td>
    <td>{{ u.telefono }}</td>
    <td>{{ u.edad }}</td>
    <td>
        <a href="/editar/{{ u.email }}">Editar</a> |
        <a href="/borrar/{{ u.email }}">Borrar</a>
    </td>
  </tr>
  {% endfor %}
 

</table>

<br>
<a href="/">Volver</a>

</body>
</html>
